<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
	<!-- 提示框 -->
	<link href="../promptbox/css/msgbox.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript" src="../promptbox/js/msgbox.js" ></script>
    <script type="text/javascript" src="../promptbox/init_hide.js" ></script>
    <!-- 提示框 -->
</head>
<body>
<input value="保存" type="button" onclick="save()" />
<script>
function save(){
	clickAutoHide(1,"测试测试测hi是测试",null);
}
</script>
</body>
</html>